.top-bar {
  background: transparent;
  position: absolute;
  width: 100%;
  display: block
}

.subhead {
  color: white;
}

.hero-row {
  top: 350px;
  display: block;
  position: relative;
}

// injector
// endinjector
